@import url(null.css);

.wrapper {
  min-height: 100%;
  padding: 100px;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
}
ul {
  display: block;
}
ul li {
  padding-bottom: 20px;
}
.menu__item:first-child:hover {
  color: red;
  cursor: pointer;
}
